@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.TexticonsPage-container {
  max-width: 1440px;
  margin: auto;
}

/* Texticons-header */
.Texticons-header {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 512px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.Texticons-header h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  color: #251181;
  position: absolute;
  bottom: 102%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: Lato;
}

.Texticons-header p {
  font-family: Lato;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #251181;
  margin-top: 20px;
  margin-bottom: 30px;
}

.Texticons-header p span {
  color: #f7b05e;
  text-align: center;
}

.Texticons-header_image {
  position: relative;
  width: 365px;
  height: 350px;
  overflow: hidden;
}

.Texticons-header_image img {
  object-fit: cover;
  height: 100%;
  width: auto;
}

/* Media Responsiveness */
/* Mobile */
@media (max-width: 650px) {
  .Texticons-header {
    min-height: unset;
    padding-bottom: 20px;
  }

  .Texticons-header p {
    font-size: 18px;
  }

  .Texticons-header_image {
    width: 265px;
    height: 250px;
  }
}

/* Texticons-section */
.TexticonsContainer {
  position: relative;
  margin-top: 70px !important;
  max-width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.texticonsBox {
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 250px;
  height: 262px;
  margin: 30px;
}

.image_box {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .image_box img {} */
.links_container {
  height: 40%;
  border-radius: 20px;
  overflow: hidden;
}

.button-download,
.button-drafts {
  width: 100%;
  border: none;
  padding-top: .7rem;
  gap: 4px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  align-items: center;
}

.button-download {
  background-color: #1c0d65;
  height: 50%;
}

.button-download a {
  color: #ffffff;
}

.button-drafts {
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  color: #1c0d65;
}

/* Media Responsiveness */
/* Tablet */
@media (max-width: 920px) {
  .TexticonsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .button-download,
  .button-drafts {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .TexticonsContainer {
    grid-template-columns: 1fr 1fr;
  }

  .button-download,
  .button-drafts {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .TexticonsContainer {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

/* Installation-section */
.installation-section {
  position: relative;
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.installation-section1 {
  background: #f5f5f5;
  padding: 50px;
  width: 80%;
}

.installation-section1 h2 {
  font-size: 24px;
  color: #251181;
  margin-bottom: 30px;
}

.installation-section1 p {
  margin-bottom: 30px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #151515
}

.installation-links {
  position: relative;
  list-style: none;
  padding-left: 25px;
  margin-top: 10px;
  line-height: 28px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

.installation-links li {
  position: relative;
  display: block;
}

.installation-links li:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: -25px;
  top: 18%;
  background: #000;
}

.favicons-codes {
  margin-top: 150px;
  margin-bottom: 50px;
  background: #EDF3F8;
  padding: 30px;
  width: 80%;
  line-height: 32px !important;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.installation-button {
  margin-bottom: 30px;
}

.installation-button1 {
  outline: none;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid #251181;
  min-width: 182px;
  min-height: 55px;
  cursor: pointer;
  background: #251181;
  color: #fff;
}

.installation-button1:hover {
  color: #f7b05e;
}

/* Media Responsiveness */
/* Tablet */
@media (max-width: 920px) {
  .installation-section1 {
    width: 100%;
    background: #FFFFFF;
  }

  .favicons-codes {
    background: #F5F5F5;
  }

  .favicons-codes>* {
    margin-bottom: 20px !important;
  }
}

/* Mobile */
@media (max-width: 650px) {
  .installation-section1 {
    background: #F5F5F5;
  }

  .installation-section1 h2 {
    font-size: 18px;
  }

  .installation-section1 p {
    font-size: 16px;
    text-align: left;
    width: 70%;
  }

  .installation-button1 {
    font-style: 14px;
    margin-bottom: 15px;
  }

  .favicons-codes {
    background: #fff;
  }
}

/* footer */
footer {
  position: relative;
  margin-top: 70px;
  width: 100%;
  height: fit-content !important;
  min-height: 600px;
  background-color: #f8f8f8;
  padding: 2rem;
  line-height: 2;
}

footer .footer__content {
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  max-width: 1100px;
  max-width: unset !important;
  width: 100%;
  margin-top: 0 !important;
}

footer .footer__content .first__section {
  width: 350px;
}

footer .footer__content .first__section h2 {
  font-size: 40px;
  color: #251181;
  font-weight: 700;
  line-height: 48px;
}

footer .footer__content .first__section h2 span {
  color: #f7b05e;
}

footer .footer__content .first__section h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #251181;
  margin-top: 40px;
}

footer .footer__content .first__section p {
  font-size: 18px !important;
  line-height: 1.5;
  color: #1e1666;
  text-align: left;
  font-style: normal;
  font-weight: 400;

}

footer .footer__content .second__section {
  display: flex;
  justify-content: space-between;
  width: 550px;
  padding-top: 1rem;
  width: unset !important;
}

.footer__content .second__section>div {
  margin-left: 80px !important;
}

.footer__content .second__section>div h3 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.footer__content .second__section>div ul li {
  margin-bottom: 50px !important;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #1E1666;
}

/* .footer__content .second__section>div ul li, */
.footer__content .second__section>div ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #1E1666;
}

footer .footer__content .second__section h3 {
  font-size: 24px;
  color: #251181;
}

footer .footer__content .second__section .third a {
  font-size: 18px;
  color: #251181;
}

footer li {
  font-size: 18px;
  color: #1e1666;
}

footer .copyrights {
  text-align: center;
  margin-top: 1rem;
  font-size: 18px;
}


footer p {
  color: #1c0d65;
}

.icons.footer_icons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.icons.footer_icons a {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin: 0 20px !important;
}

.icons.footer_icons a img {
  object-fit: cover;
  height: 100%;
  width: auto;
}

footer .copyrights .bottom__links {
  width: 100%;
  margin: auto;
  align-items: center;
}

footer .copyrights .bottom__links a {
  margin: 0 1.5rem;
  color: #251181;
}

/* Media Responsiveness */
/* Tablet */
@media (max-width: 920px) {
  footer .copyrights .bottom__links {
    width: 100%;
  }

  .footer__content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .first__section p {
    width: auto;
  }

  .footer__content .second__section {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  }

  .footer__content .second__section>div {
    margin-left: 0px !important;
  }
}

/* Mobile */
@media (max-width: 650px) {
  footer {
    padding: 30px !important;
    background: #F5F5F5;
  }

  footer .footer__content .first__section h2 {
    font-size: 24px;
  }

  footer .footer__content .first__section h3,
  footer .footer__content .second__section h3 {
    font-size: 18px;
  }

  footer .footer__content .first__section p,
  footer li,
  footer .copyrights {
    font-size: 16px !important;
  }

  /* hello Serah, check me */
  footer .footer__content .first__section p {
    text-align: left;
    width: 80%;
  }

  footer .footer__content .second__section {
    flex-direction: column;
    margin-top: 20px;
  }

  footer .footer__content .first__section {
    width: 100%;
  }

  .footer__content .second__section>div h3 {
    margin-bottom: 20px;
  }

  .footer__content .second__section>div ul li {
    margin-bottom: 30px !important;
  }

}