@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --blue: #251181;
  --yellow: #f7b05e;
  --gray: #;
  --dark: #151515;
  --light-blue: #d8d5f5;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
} */
main h1 {
  font-family: "Lato";
  font-weight: 700;
  color: var(--blue);
  font-size: 2.5rem;
  line-height: 3rem;
}

main a {
  display: inline-block;
  text-decoration: none;
  color: var(--blue);
  font-size: 1.5rem;
  font-family: "Lato";
}
main span {
  color: var(--yellow);
}
main button {
  cursor: pointer;
}

/****header****/
.header_ma {
  margin: 0;
  padding: 0;
}
.top-container {
  position: relative;
  width: 1512px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}
.container {
  margin: 0;
  padding: 0;
}

/***navbar***/
/* nav {
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

nav h2 {
  font-size: 40px;
  color: #251181;
  margin-left: 1rem;
}

nav h2 span {
  color: #f7b05e;
}

nav .links a {
  font-size: 24px;
  font-weight: 400;
  color: #251181;
  margin: 0 1rem;
}

nav .authentication__links {
  display: flex;
  justify-content: space-between;
}

nav .authentication__links .login__btn {
  margin: 0 0.5rem;
  color: #251181;
  background-color: #ffffff;
  border: 1px solid #251181;
  border-radius: 8px;
  padding: 10px 55px;
  align-items: center;
  cursor: pointer;
}

nav .authentication__links .signin__btn {
  margin: 0 0.5rem;
  color: #ffffff;
  background-color: #251181;
  border-radius: 8px;
  padding: 10px 55px;
  align-items: center;
  cursor: pointer;
} */

/*********Main Convert********/
.content {
  position: relative;
  text-align: center;
  margin: 2% 0;
}
.converter {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 70px;
}
.converter-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--light-blue);
  border-radius: 0.5rem;
  width: 28rem;
  /* height: 22rem; */
  height: fit-content;
  margin: 3.5% auto 2%;
  padding: 1.5rem;
}
.converter-box .upload-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* position: absolute; */
  /* left: 0; */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--blue);
  /* margin: 1.2rem 1.75rem; */
  margin-bottom: 0.5rem;
  
}
.converter-box .upload-top p {}

.droparea {
  position: relative;
  border: 1px dashed #4f4f4f;
  border-radius: 0.5rem;
  /* margin: 3rem 1.5rem 0; */
  padding: 1rem;
  text-align: center;
  width: 24.7rem;
  height: 12.8rem;
  /* z-index: 2;
  background: cadetblue; */
}
/* .droparea > .image,
.droparea > .drag {
  z-index: -1;
} */
.droparea img {
  margin: 1rem 0 1.5rem;
  color: var(--blue);
  
}
.drag {
  margin-bottom: 1rem;
}
.droparea a,
.droparea p {
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-family: "Lato";
  border: 1px;
  margin-bottom: 0.3rem;
}
.droparea p {
  display: block;
  font-weight: 400;
  color: #4f4f4f;
}

.droparea a {
  display: inline-block;
  font-weight: 700;
  color: #898080;
}
.blue-border {
  color: var(--blue);
}

.upload-bottom a {
  width: 24.68rem;
  height: 4rem;
  /* margin: 0 1.5rem; */
  margin-top: 1rem;
  background-color: var(--light-blue);
  border: none;
  border-radius: 0.625rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-options {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.content-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14rem;
  height: 4.3rem;
  border: 1px solid var(--blue);
  border-radius: 0.5rem;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  cursor: pointer;
  user-select: none;
}
.content-options a span {
  margin-left: 1.25em;
  color: var(--blue);
}
.content-options a:first-child {
  background-color: var(--blue);
  color: #fff;
}
.content-options a:first-child:hover {
  color: #f7b05e;
}
.content-options a:nth-child(2) {
  background-color: #fff;
  color: var(--blue);
}
.content-options a:nth-child(2):hover {
  background-color: #25118120 !important;
}
.content-options .mobile-save {
  display: none;
}

/****How-to****/
.how-to {
  background-color: #f8f8f8;
  position: relative;
  padding: 2.5% 1% 1% 15%;
  /* margin-bottom: 7%; */
  margin-top: 30px;
  margin-bottom: 100px;
}

.text h1 {
  font-size: 1.8rem;
}
.text ul {
  margin-left: 1.25%;
}
.text li {
  font-size: 1rem;
  line-height: 1.6;
}

/****divider****/

.navbar_ma .menu-icon {
  display: none;
}

/* **Installation**

.section_install_hw {
  width: 70rem;
  max-width: 1124px;
  height: 53.5rem;
  margin: auto;
  max-width: 100%;
}
.section_install_hw .section_install_container_hw {
  max-width: calc(100vw - 5%);
  width: 70rem;
  height: 53.5rem;
  background: #f5f5f5;
  padding: 3%;
  margin: 2% 1%;
  box-sizing: border-box;
}
.conv-page-section-install {
  width: 62rem;
  height: 21rem;
  max-width: 100%;
}

.conv-page-section-install ul {
  line-height: 1.7rem;
  margin: 1.5rem;
}
.conv-page-section-install li {
  font-size: 1.25rem;
}
.section_install_container_hw h1 {
  margin-bottom: 3rem;
}
.section_install_container_hw h2 {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--blue);
}
.section_install_container_hw p {
  font-size: 1.25rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
}

.favicons_html_code_zone_hw {
  margin: 2.75rem 0;
  background: #fff;
  color: #b1aaaa;
  padding: 2.8rem;
  width: 48.125rem;
  height: 13.125rem;
  font-size: 1.25rem;
  line-height: 32px !important;
  color: var(--blue);
}
.btn_install_container_hw {
  width: 30%;
}
.btn_install_container_hw button {
  width: 11.4rem;
  height: 2.4rem;
  font-size: 1.5rem;
  background-color: var(--blue);
  color: #fff;
  border: none;
  border-radius: 0.3rem;
} */

/* footer */
/* footer {
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  padding: 2rem;
  line-height: 2;
  margin-top: 3rem;
}

footer .footer__content {
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  max-width: 1500px;
}

footer .footer__content .first__section {
  width: 350px;
}

footer .footer__content .first__section h2 {
  font-size: 2.5rem;
  color: var(--blue);
}

footer .footer__content .first__section h2 span {
  color: var(--yellow);
}

footer .footer__content .first__section h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--blue);
}

footer .footer__content .first__section p {
  font-size: 1.125rem;
  line-height: 1.8;
  color: var(--blue);
}

footer .footer__content .second__section {
  display: flex;
  justify-content: space-between;
  width: 34rem;
  padding-top: 1rem;
  max-width: 100%;
  margin-left: 0;
}

footer .footer__content .second__section h3 {
  font-size: 1.5rem;
  color: var(--blue);
}
footer .footer__content .second__section .second a {
  font-size: 1.125rem;
  line-height: 1.3;
}

footer .footer__content .second__section .third a {
  font-size: 1.125rem;
  color: var(--blue);
}

footer li {
  font-size: 1.125rem;
  color: var(--blue);
  list-style: none;
}

footer .copyrights {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.25rem;
}

footer p {
  color: #1c0d65;
}

footer .copyrights .icons i {
  font-size: 1.25rem;
  color: var(--blue);
  margin: 0 2rem;
  cursor: pointer;
}

footer .copyrights .bottom__links {
  width: 100%;
  margin: auto;
  align-items: center;
}

footer .copyrights .bottom__links a {
  margin: 0 1.5rem;
  color: var(--blue);
}

footer.footer_hw {
  padding: 50px 80px;
  padding-bottom: 25px;
  height: fit-content;
}
.fc_hw {
  max-width: unset;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
}
.fc_hw .first__section p {
  font-size: 18px;
}
.fc_hw .second__section {
  width: unset;
}
.fc_hw .second__section > div {
  margin-left: 6%;
}
.fc_hw .second__section > div h3 {
  margin-bottom: 15px;
}
.fc_hw .second__section > div ul li {
  margin-bottom: 20px;
}
.fc_hw .second__section > div ul li,
.fc_hw .second__section > div ul li a {
  color: var(--blue);
}

.footer_icons_hw {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
.footer_icons_hw a {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin: 0 20px !important;
}
.footer_icons_hw a img {
  object-fit: cover;
  height: 100%;
  width: auto;
} */

/********Media Query*********/

/*********Mobile*********/

@media (max-width: 480px) {
  /* .top-container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: 100%;
  }
  .navbar_ma {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .navbar_ma a {
    display: none;
  }

  .logo h1 {
    font-size: 1.5rem;
  }

  .navbar_ma .menu-icon {
    display: block;
    cursor: pointer;
  }
  .navlinks {
    display: none;
  } */
  .registration {
    display: none;
  }
  .converter {
    margin: 4.5% 8.5%;
  }
  .converter h1 {
    font-size: 2rem;
  }
  .converter-box {
    width: 17.8rem;
    /* height: 15rem; */
    height: fit-content;
    padding: 0.8rem;
  }
  .upload-top {
    /* padding: 0.6rem 0.3rem; */
  }
  .converter-box .upload-top p {
    font-size: 1rem;
    /* position: absolute; */
    /* top: -0.75rem; */
    /* left: -0.74rem; */
  }

  .droparea {
    /* width: 15.6rem; */
    width: 100%;
    height: 8rem;
    position: relative;
    /* top: -2.5rem; */
    /* left: -0.74rem; */
  }
  .droparea img {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0;
  }
  .droparea .drag {
    margin-top: 5px;
  }
  .droparea .drag p,
  .droparea .drag a {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .upload-bottom {
    width: 100%;
  }
  .upload-bottom a {
    /* width: 15.6rem; */
    width: 100%;
    height: 2.5rem;
    /* margin: 0; */
    padding: 0;
    position: relative;
    /* top: -1.3rem; */
  }

  .content-options {
    grid-column-gap: 1rem;
  }
  .content-options a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.875rem;
    height: 3rem;
    margin: 1rem 1% 2rem 1%;
    background-color: var(--blue);
  }
  .content-options .mobile-save {
    /* display: inline-block; */
    display: flex;
    color: var(--blue);
    background-color: #ffffff;
  }
  .content-options .draft {
    display: none;
  }

  .how-to {
    width: auto;
    max-width: 100%;
    /* margin: 0; */
    padding: 1.5rem 0.8rem;
  }
  .text h1 {
    font-size: 1.3rem;
    line-height: 1.8;
  }
  .text li {
    font-size: 1rem;
    line-height: 1.7;
  }

  /*****mobile-install***/
  /* .section_install_hw {
    width: auto;
    max-width: 100%;
    margin: 0;
    margin-bottom: 0;
    background-color: #fff;
  }
  .section_install_hw .section_install_container_hw {
    padding: 0;
    margin: 0 !important;
    max-width: 100%;
    background-color: #fff;
  }
  .section_install_container_hw h1 {
    font-size: 1.4rem;
    margin-left: 1%;
  }
  .section_install_container_hw h2 {
    font-size: 1.1rem;
    color: #b1aaaa;
  }
  .conv-page-section-install {
    width: 21.4rem;
    max-width: 100%;
    margin: 0 0.5%;
    position: relative;
    top: -2rem;
  }
  .conv-page-section-install p {
    font-size: 1rem;
    top: 0rem;
  }
  .conv-page-section-install li {
    font-size: 1rem;
  }
  .favicons_html_code_zone_hw {
    width: 24.3rem;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    line-height: 1.3;
    font-size: 0.625rem;
    max-width: 100%;
    position: relative;
    top: 10%;
    color: var(--blue);
    background-color: #d9d9d9;
  }
  .btn_install_container_hw {
    max-width: 90%;
  }
  .btn_install_container_hw button {
    margin: 2% 1% 0;
    width: 6.75rem;
    height: 3rem;
    font-size: 1.125rem;
    position: relative;
    background-color: #898080;
  } */

  /******Footer*****/
  /* footer {
    background-color: #fff;
  }
  footer .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    width: auto;
    max-width: 100%;
    background-color: #fff;
  }
  footer .footer__content,
  .first__section {
    width: auto;
    max-width: 100%;
  }

  footer .footer__content .first__section h2 {
    font-size: 1.5rem !important;
  }
  footer .footer__content .first__section h3 {
    font-size: 1.2rem;
  }

  footer .footer__content .first__section p {
    font-size: 0.875rem;
    line-height: 1.6;
  }

  footer .footer__content .second__section {
    display: flex;
    justify-content: space-between;
    width: auto;
    max-width: 100%;
    padding-top: 1rem;
    margin: 0;
    margin-left: 0;
  }

  footer .footer__content .second__section h3 {
    font-size: 1.25rem;
  }
  footer .footer__content .second__section .second a {
    font-size: 0.75rem;
  }

  footer .footer__content .second__section .third a {
    font-size: 0.75rem;
  }

  footer li {
    font-size: 0.75rem;
    list-style: none;
  }

  footer.footer_hw {
    padding: 3% 4%;
    height: fit-content;
  }
  .fc_hw {
    max-width: 100%;
    margin-top: 0;
  }
  .fc_hw .first__section p {
    font-size: 1rem;
    margin-bottom: 2%;
  }
  .fc_hw .second__section {
    max-width: 100%;
    margin-top: 2%;
  }
  .fc_hw .second__section > div {
    padding: 1%;
  }
  .fc_hw .second__section > div h3 {
    margin-bottom: 0.75rem;
  }
  .fc_hw .second__section > div ul li {
    margin-bottom: 0.75rem;
  }
  .fc_hw .second__section > div ul li,
  .fc_hw .second__section > div ul li a {
    color: #251181;
  }
  .fc_hw .second__section > div {
    margin-left: 1%;
  }

  footer .copyrights {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.625rem;
  }
  footer .copyrights p {
    display: inline-block;
  }
  footer .copyrights a {
    font-size: 0.625rem;
  }

  footer .copyrights .icons i {
    font-size: 1.25rem;
    color: #251181;
    margin: 0 2rem;
    cursor: pointer;
  }
  .bottom__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
} */

/***********Tablet********/

@media (max-width: 960px) {
  .top-container {
    width: auto;
    max-width: 960px;
  }
  .logo h1 {
    font-size: 1.75rem;
  }
  .navlinks {
    display: none;
  }
  .navbar_ma .menu-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: var(--blue);
  }
  .navbar_ma .registration {
    position: relative;
    left: 10%;
    margin-left: 17.8%;
  }
  .navbar_ma .registration a {
    width: 5.25rem;
    height: 2.25rem;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 0.5rem 0 0.5rem 0.8rem;
    margin: 0 0.75rem;
  }
  .converter h1 {
    font-size: 2.5rem;
  }
  /* .section_install_hw {
    background-color: #fff;
  }
  .section_install_hw .section_install_container_hw {
    background-color: #fff;
    width: 100%;
    padding: 0 0.5%;
    margin: 0;
  }
  .footer {
    background-color: #fff;
    padding: 0;
  }
  footer.footer_hw {
    background-color: #fff;
    width: auto;
    padding: 0;
  }
  .footer__content {
    flex-direction: column;
    padding: 0 0.5% 0 1%;
    margin: 0;
    width: 100%;
  }

  .footer__content .second__section .first {
    margin: 0;
  }
  footer .footer__content .second__section .third a {
    font: 0.75rem !important;
  }
  .footer__content .fc_hw li {
    font-size: 0.875rem;
    padding: 0;
  } */


  /* .favicons_html_code_zone_hw {
    background-color: #d9d9d9;
    color: var(--blue);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    position: relative;
    top: 3.5rem;
    padding: 3% 2%;
    line-height: 1.5;
  }
  .btn_install_container_hw {
    width: 10rem;
    margin-top: 5rem;
  }
  .btn_install_container_hw button {
    background-color: var(--blue);
  } */

  /* .copyrights a {
    font-size: 1.125rem;
  } */
}
