.section_install_hw {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.section_install_container_hw {
    background: #f5f5f5;
    padding: 50px;
    width: 70%;
}
.favicons_html_code_zone_hw {
    margin: 30px 0;
    background: #fff;
    padding: 30px;
    width: fit-content;
    line-height: 32px !important;
}
.btn_install_container_hw {
    margin: 40px 0;
}