@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap');

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}
a {
    text-decoration: none !important;
}
ul, ol {
    list-style: none !important;
}
/* ******************************* */
.mb_30_hw {
    margin-bottom: 30px;
}
/* **************************************** */
.fs20_bold{
    font-size: 20px;
    font-weight: bold;
}
.fs18_bold{
    font-size: 18px;
    font-weight: bold;
}

/* ******************************* */
.gen_page_title1_hw {
    font-size: 40px;
    color: #251181;
}
.gen_page_section_title_hw {
    font-size: 24px;
    color: #251181;
}
.plain_text_hw {
    font-size: 20px;
    line-height: 28px;
}
.text_align_center {
    text-align: center;
}
.text_align_right {
    text-align: right;
}

/* ******************************* */
.posa_center_top_hw {
    position: absolute;
    bottom: 102%;
    left: 50%;
    transform: translateX(-50%);
}


/* ******************************* */
.highlight_yellow_hw {
    color: #f7b05e;
}
.zuricongen_blue_color {
    color: #251181
}
.zuricongen_yellow_color {
    color: #f7b05e
}

/* ul list */
/* ******************************* */
.gen_ul_list_hw {
    position: relative;
    list-style: none;
    padding-left: 25px;
    margin-top: 10px;
}
.gen_ul_list_hw li {
    position: relative;
    display: block;
}
.gen_ul_list_hw li:after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
}


/* **************************************** */

.btn_hw {
    outline: none;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #251181;
    min-width: 182px;
    min-height: 55px;
}
.btn_zuricongen_filled_hw {
    background: #251181;
    color: #fff;
}
.btn_zuricongen_outlined_hw {
    background: transparent;
    color: #251181;
}

.btn_text_img_hw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn_text_img_hw :first-child {
    margin-right: 10px;
}










