nav {
    position: relative;
    display: flex;
    padding: 1.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    z-index: 100;
    width: 100%;
}

nav h2 {
font-size: 40px;
color: #251181;
margin-left: 1rem;
}

nav h2 span {
color: #f7b05e;
}

nav .links {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    flex-wrap: wrap;
}
nav .links a {
font-size: 24px;
font-weight: 400;
color: #251181;
margin: 0 1rem;
margin-bottom: 0.5rem;
}

nav .authentication__links {
display: flex;
justify-content: space-between;
}

nav .authentication__links .login__btn {
margin: 0 !important;
margin-right: 0.5rem !important;
color: #251181;
background-color: #ffffff;
border: 1px solid #251181;
border-radius: 8px;
padding: 10px 0 !important;
min-width: 150px !important;
align-items: center;
cursor: pointer;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
}

nav .authentication__links .signin__btn {
margin: 0 !important;
margin-right: 0.5rem !important;
color: #ffffff;
background-color: #251181;
border-radius: 8px;
padding: 10px 0;
min-width: 150px !important;
align-items: center !important;
cursor: pointer;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
}

/* ********************* HERMANN ***************** */
#triple_bar_menu_check,
.triple_bar_menu {
    display: none;
}

/* /////////////////////// RESPONSIVE 1 //////////////////////// */

@media (max-width:920px) {
    nav .links {
        display: none;
    }
    nav .links a{
        margin: 1rem 0;
        font-size: 30px;
        width: 150px;
        text-align: center;
        /* background: #f7b05e */
    }
    .authentication__links {
        margin-right: 45px ;
    }
    nav .authentication__links .login__btn,
    nav .authentication__links .signin__btn {
        min-width: 100px !important;
    }



    .triple_bar_menu {
        display: block;
    }
    .triple_bar_menu {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 10px;
        height: 2px;
        width: 23px;
        background: #251181;
        z-index: 1000;
    }
    .triple_bar_menu:before,
    .triple_bar_menu:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: #251181;
        bottom: 250%;
    }
    .triple_bar_menu:after {
        border: unset;
        top: 250%;
    }

    .triple_bar_menu span {
        position: absolute;
        width: 100%;
        height: 30px;
        top: -15px;
        left: 0;
        background: transparent;
        z-index: -1003;
    }

    input#triple_bar_menu_check {
        display: none;
    }
    input#triple_bar_menu_check:checked ~ .links{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    input#triple_bar_menu_check:checked ~ .triple_bar_menu {
    background: transparent;
    }
    input#triple_bar_menu_check:checked ~ .triple_bar_menu:before {
    transform: rotate(45deg);
    bottom: 0%;
    }
    input#triple_bar_menu_check:checked ~ .triple_bar_menu:after {
    transform: rotate(-45deg);
        top: 0%;
    }

}


/* /////////////////////// RESPONSIVE 2 //////////////////////// */

@media (max-width:650px) {
    nav h2 {
        font-size: 24px;
    }
    .authentication__links {
        display: none !important;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 101;
    }

    input#triple_bar_menu_check:checked ~ .authentication__links {
        display: flex !important;
    }
}








