<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}My Site{% endblock %}</title>    
    {% load static %}
    <link rel='icon' sizes='120x120' href="{% static 'img/ZuriconGen0.png' %}">
    
    <link rel="stylesheet" href="{% static 'css/css_hw/style_hw.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/css_hw/style_navbar.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/navbar_unauthenticated/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar_unauthenticated/style_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_hw/style_footer.css' %}"> 
    {% block css_styles %}{% endblock %}
</head>
<body>
    <header>
        <div class="top-container">
            <nav class="header_ma">                    
                <div class="navbar_ma">                    
                    <input type="checkbox" name="triple_bar_menu_check" id="triple_bar_menu_check">
                    <label for="triple_bar_menu_check" class="triple_bar_menu"><span></span></label>
                    <div class="logo">
                        <a href="/home">
                            <img
                            src="{% static 'img/navbar_unauthenticated/Group 100.png' %}"
                            class="desktop-logo"
                            alt="logo"
                            />
                        </a>
                        <img
                            src="{% static 'img/navbar_unauthenticated/Group 101.png' %}"
                            class="mobile-logo"
                            alt="logo"
                        />
                        <h2>Zuricon<span class="span_nav">Gen</span></h2>
                    </div>
        
                    <div class="navlinks">
                        <ul>
                            <li>
                                <a class="nav-link" href="/converter_page" >
                                    Converter
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="/generator_page" >
                                    Generator
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="#" >
                                    Texticon
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="#" >
                                    Tutorial
                                </a>
                            </li>
                        </ul>
                    </div>
        
                    <div class="auth__menu">
                        <div class="registration">
                            <a href="#" class="btn">Log in</a>
                            <a href="#" class="btn">Sign Up</a>
                        </div>
            
                        <!-- <div class="menu-icon"></div> -->
                    </div>
                </div>
            </nav>
    
            <!-----------------Mobile & Tablet Menu ------------------>
            <div class="mobile-menu" id="menu">
                <ul>
                    <li>
                        <a class="mobile-nav-link" href="/converter_page" >
                            Converter
                        </a>
                    </li>
                    <li>
                        <a class="mobile-nav-link" href="/generator_page" >
                            Generator
                        </a>
                    </li>
                    <li>
                        <a class="mobile-nav-link" href="#" >
                            Texticon
                        </a>
                    </li>
                    <li>
                        <a class="mobile-nav-link" href="#" >
                            Tutorial
                        </a>
                    </li>
                    <li>
                        <a class="mobile-nav-link" href="/drafts" >
                            Saved Favicons
                        </a>
                    </li>
                    <li>
                        <a class="mobile-nav-link" href="#" >
                            Log In
                        </a>
                    </li>
                    <li>
                        <a class="mobile-nav-link" href="#" >
                            Sign Up
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>


    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    

    <footer class="footer_hw">
        <div class="footer__content fc_hw">
            <section class="first__section">
            <h2>Zuricon<span class="span_nav">Gen</span></h2>
            <h3>About</h3>
            <p>
                We built ZuriconGen so as to make creating favicons an easy
                process. The texticons were created by our designers. If you like
                ZuriconGen or have a suggestion, feel free to contact us. Feedback
                is much appreciated.
            </p>
            </section>

            <section class="second__section">
            <div class="first">
                <h3>Built with</h3>
                <ul>
                <li>ZuriconGen.js</li>
                <li>Center.js</li>
                <li>Texticons</li>
                </ul>
            </div>

            <div class="second">
                <h3>Resources</h3>
                <ul>
                <li><a href="#">Favicon Converter</a></li>
                <li><a href="#">Favicon Generator</a></li>
                <li><a href="#">Texticons</a></li>
                </ul>
            </div>

            <div class="third">
                <h3>Contact</h3>
                <a href="#">contact@zuri.team.com</a>
            </div>
            </section>
        </div>

        <hr />

        <div class="copyrights">
            <p>
            Copyright ZuriconGen 2022. All rights reserved.
            <a href="#" class="zuricongen_blue_color">Privacy and terms</a>
            </p>

            <div class="icons footer_icons_hw">
                <a href="#">
                    <img src="{% static 'img/Facebook.svg' %}" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'img/Twitter.svg' %}" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'img/LinkedIn_Circled.svg' %}" alt="">
                </a>
            </div>

            <div class="bottom__links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of use</a>
            <a href="#">Security</a>
            <a href="#">Cookies</a>
            </div>
        </div>
    </footer>




    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static  'js/navbar_unauthenticated/script.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> -->

    {% block js_scripts %}
    {% endblock %}
</body>
</html>