<section class="section_install_hw">
        <div class="section_install_container_hw">
            <h2 class="gen_page_section_title_hw zuricongen_blue_color mb_30_hw">Installation</h2>
            <p class="plain_text_hw mb_30_hw">
                First, use the download button to download the files listed below. Place the files in the root directory of your website.
                <br/>
            </p>
            <ul class="gen_ul_list_hw plain_text_hw">
                <li>android-chrome-192x192.png</li>
                <li>android-chrome-512x512.png</li>
                <li>apple-touch-icon.png</li>
                <li>favicon-16x16.png</li>
                <li>favicon-32x32.png</li>
                <li>favicon.ico</li>
                <li>sie.webmanifest</li>
            </ul>
            
            <div class="favicons_html_code_zone_hw plain_text_hw zuricongen_blue_color">
                &lt;link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"&gt; 
                <br/>
                &lt;link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"&gt; 
                <br/>
                &lt;link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"&gt; 
                <br/>
                &lt;link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"&gt;
            </div>
            <div class="btn_install_container_hw">
                <button class="btn_hw btn_zuricongen_filled_hw">
                    Copy
                </button>
            </div>
        </div>
    </section>