<section id="section_install_hw" class="section_install_hw">
        <div class="section_install_container_hw">
            <h2 class="gen_page_section_title_hw zuricongen_blue_color mb_30_hw">Installation</h2>
            <p class="plain_text_hw mb_30_hw">
                    First, use the download button to download a zip file containing the files listed below. Place the files in the root directory of your website.
                <br/>
            </p>
            <span class="plain_text_hw">File sizes:</span>
            <ul class="gen_ul_list_hw plain_text_hw">
                <li>16*16: Browser favicon</li>
                <li>32*32: Taskbar shortcut favicon</li>
                <li>96*96: Desktop shortcut favicon</li>
                <li>180*180: Apple touch favicon</li>
                <!-- <li>favicon-32x32.png</li> -->
            </ul>
            <br/>
            <span class="plain_text_hw">File formats:</span>
            <ul class="gen_ul_list_hw plain_text_hw">
                <li>PNG, JPG, SVG, ICO</li>
            </ul>
            <p class="plain_text_hw">
                Also, the related embed codes will be included in the zip file. Copy and paste them into the head of your HTML.
                Examples are shown below.
            </p>
            
            <div id="htmlCodeText" readonly style="resize: none;" class="favicons_html_code_zone_hw plain_text_hw zuricongen_blue_color">
                &lt;link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"&gt; 
                <br/>
                &lt;link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"&gt; 
                <br/>
                &lt;link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"&gt; 
                <br/>
                &lt;link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png"&gt; 
            </div>
            <div class="btn_install_container_hw">
                <button id="copyToClipboardBtn" class="btn_hw btn_zuricongen_filled_hw">
                    Copy
                </button>
            </div>
        </div>
    </section>