{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>
    {% block content %} {% if user.is_authenticated %} Hello there {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    {% else %}
    <p>You are not logged in, please try again.</p>
    <a href="{% url 'login' %}">Log In</a> {% endif %} {% endblock %}
</body>

</html>