footer {
    width: 100%;
    height: 90vh;
    max-height: 600px;
    background-color: #F8F8F8;
    padding: 2rem;
    line-height: 2;
  }
  
  footer .footer__content {
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
    max-width: 1100px;
  }
  
  footer .footer__content .first__section {
    width: 350px;
  }
  
  footer .footer__content .first__section h2 {
    font-size: 40px;
    color: #251181;
  }
  
  footer .footer__content .first__section h2 span {
    color: #f7b05e;
  }
  
  footer .footer__content .first__section h3 {
    font-size: 24px;
    font-weight: 700;
    color: #1e1666;
  }
  
  footer .footer__content .first__section p {
    font-size: 20px;
    line-height: 1.5;
    color: #1E1666;
  }
  
  footer .footer__content .second__section {
    display: flex;
    justify-content: space-between;
    width: 550px;
    padding-top: 1rem;
  }
  
  footer .footer__content .second__section h3 {
    font-size: 24px;
    color: #251181;
  }
  
  footer .footer__content .second__section .third a {
    font-size: 18px;
    color: #251181;
  }
  
  footer li {
    font-size: 18px;
    color: #1e1666;
  }
  
  footer .copyrights {
    text-align: center;
    margin-top: 1rem;
    font-size: 20px;
  }
  
  footer p{
    color: #1C0D65;
  }
  
  footer .copyrights .icons i {
    font-size: 24px;
    color: #251181;
    margin: 0 2rem;
    cursor: pointer;
  }
  
  footer .copyrights .bottom__links {
    width: 50%;
    margin: auto;
    align-items: center;
  }
  
  footer .copyrights .bottom__links a {
    margin: 0 1.5rem;
    color: #251181;
  }

  /* ****************************************************** */
footer.footer_hw {
padding: 50px 80px;
padding-bottom: 25px !important;
height: fit-content !important;
}
.fc_hw {
    max-width: unset !important;
    width: 100%;
    
    margin-top: 0 !important;
}
.fc_hw .first__section p{
    font-size: 18px !important;
}
.fc_hw .second__section {
width: unset !important;
}
.fc_hw .second__section > div {
    margin-left: 100px !important;
}
.fc_hw .second__section > div h3 {
    margin-bottom: 15px;
}
.fc_hw .second__section > div ul li {
    margin-bottom: 20px !important;
}
.fc_hw .second__section > div ul li,
.fc_hw .second__section > div ul li a {
    color: #251181;
}

.footer_icons_hw {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}
.footer_icons_hw a{
    position: relative;
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin: 0 20px !important;
}
.footer_icons_hw a img {
    object-fit: cover;
    height: 100%;
    width: auto;
}




