.section01_gen_hw {
    margin-top: 100px;
    padding-left: 50px;
}



.gen_examples_hw {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 100px;
}
.gen_examples_hw > span {
    font-size: 18px;
}
.gen_examples_boxes_container_hw {
    margin-left: 50px;
    display: flex;
}
.gen_examples_box_hw {
    background: #f5f5f5;
    border-radius: 5px;
    width: 64px;
    height: 64px;
    margin-right: 7px;
    border: 1px solid #ccc;
}