@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --blue: #251181;
    --yellow: #F7B05E;
    --gray: #;
    --dark: #151515;
    --light-blue: #D8D5F5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}
h1 {
    font-family: 'Lato';
    font-weight: 700;
    color: var(--blue);
    font-size: 2.5rem;
    line-height: 3rem;
}
a {
    display: inline-block;
    text-decoration: none;
    color: var(--blue);
    font-size: 1.5rem;
    font-family: 'Lato';
}
span {
    color: var(--yellow);
}
button {
    cursor: pointer;
}

/****header****/
.header_ma{
    margin: 0;
    padding: 0;
}
.top-container{
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0; 
} 
.container {
    margin: 0;
    padding: 0;
}

/***navbar***/
.navbar_ma {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2% 4.4% 1% 2.625% ;
    width: 100%; /*here*/
    border-bottom: 1px solid rgba(102, 102, 102, 0.25);
}
.logo {
    display: flex;
    align-items: center;
    width: auto;
    height: 3rem;
}
.logo h2 {
    font-size: 1.5rem;
    color: var(--blue);
    font-weight: 700;
}
.logo .mobile-logo {
    display: none;
}
.navlinks {
    width: 100%;
}
.navlinks .nav-link[aria-current='page'] {
    text-decoration: underline solid var(--blue) 0.2rem;
    text-underline-offset: 0.1rem;
}
.navlinks ul {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 0 20% 0 2%;
    position: relative;
    left: 1rem;
}
.navlinks li {
    list-style: none;
    display: inline-block;
    margin: 0 ;
    position: relative;
}
.navlinks a {
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    line-height: 1.3rem;
    font-weight: 700;
    color: var(--blue);
}
.auth__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.auth__profile {
    display: inline-block;
    margin-right: 4%;
}

.mobile-menu {
    display: none;
}
.navbar_ma .menu-icon {
    display: none;
}

/********Media Query*********/

/***********Tablet********/

@media(max-width: 960px) {
    body {
        overflow-y: scroll;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    body {
        scrollbar-width: none;
    }
    .top-container{
        width: auto;
        max-width: 960px;
        padding-left: 2%;
    }
    .logo h2 {
        font-size: 1.5rem;
    }
    .navlinks {
        display: none;
    }
    .navbar_ma {
        border-bottom: none;
    }
    .auth__profile{
        padding-right: 20px;
    }
    .navbar_ma .menu-icon {
        display: inline-block;
        position: relative;
        cursor: pointer;
        color: var(--blue);
        height: 30px;
        width: 30px;
        background: url('./images/menu.svg') no-repeat;
        z-index: 30;
    }
    .menu-icon.active {
        background: url('./images/Remove.svg') no-repeat;
    }
    .mobile-menu {
        position: fixed;
        top: 66px;
        right: 0;
        left: 100%;
        width: 100%;
        height: 50%;
        background-color: #fff;
        padding: 0;
        box-shadow: inset 0 4px 3px -3px rgb(0 0 0 /10%), inset 0 4px 2px -2px rgb(0 0 0 / 7%);
        transition: all 0.3s;
        z-index: 30;
        display: block;
        overflow: hidden;
    }
    .mobile-menu ul {
        list-style: none;
        margin-top: 3rem;
    }
    .mobile-menu ul li {
        margin-bottom: 10px;
    }
    .mobile-menu ul li a {
        display: block;
        font-size: 1.5rem;
        padding: 10px 0 10px 30px;
    }
    .mobile-menu.active {
        left: 20%;
    }
    .no-scroll{
        overflow: hidden;
        position: fixed;
        z-index: 100;
        background-color: #fff;
        top: 0;
    }
    .mobile-menu .mobile-nav-link[aria-current='page'] {
        background-color: var(--blue);
        color: #ffffff;
        width: 100%;
        height: 60px;
    }
}

/*********Mobile*********/

@media(max-width: 480px) {
    .top-container {
        margin: 0;
        width: auto;
        max-width: 100%;
    }
    .navbar_ma {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .navbar_ma a {
        display: none;
    }
    .logo .mobile-logo{
        display: inline-block;
    }
    .logo .desktop-logo{
        display: none;
    }
    .logo h2 {
        font-size: 1.125rem;
    }
    .mobile-menu {
        top: 58px;
        right: 0;
        left: 100%;
        width: 100%;
        height: 50%;
        overflow: hidden;
    }
    .mobile-menu ul {
        margin-top: 1.5rem;
    }
    .mobile-menu ul li {
        margin-bottom: 10px;
    }
    .mobile-menu ul li a {
        display: block;
        font-size: 20px;
        padding: 8px 0 8px 30px;
    }
    .mobile-menu.active {
        left: 0;
    }
    .no-scroll{
        overflow: hidden;
        position: fixed;
        z-index: 100;
        background-color: #fff;
        top: 0;
    }
    .mobile-menu .mobile-nav-link[aria-current='page'] {
        background-color: var(--blue);
        color: #ffffff;
        width: 100%;
        height: 40px;
    }
    .navbar_ma .menu-icon {
        display: inline-block;
        cursor: pointer
    }
    .auth__profile a {
        display: inline-block;
    }
    .auth__profile img {
        height: 30px;
        width: 30px;
    }
}