@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.forgottenpassword_container {
  max-width: 1440px;
  margin: auto;
}

p {
  color: #151515;
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav .logo {
  height: 100%;
  align-items: center;
}

nav .logo a {
  display: flex;
  align-items: center;
  height: 100%;
}

nav .logo a h2 {
  padding-left: 15px;
  font-size: 2rem;
  color: #251181;
}

nav .logo a h2 span {
  color: #f7b05e;
}

nav .login {
  margin-left: auto;
}

nav .login a {
  font-size: 18px;
  font-weight: 700;
}

.body__content {
  display: flex;
  max-width: 1100px;
  justify-content: space-between;
  margin: 3rem auto;
  flex: 1;
}

.body__content .first__section img {
  align-items: center;
}

.body__content .first__section img {
  width: 480px;
}

.body__content .second__section form {
  width: 500px;
  height: 500px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
}

form .form__content {
  margin: 2rem 0;
}

form .form__content div.worried-face{
  width: fit-content;
  margin: auto;
  display: none;
}

form .form__content h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #251181;
  font-size: 32px;
  font-weight: 700;
}

form .form__content p.top_p {
  margin-bottom: 2rem;
}

form .form__content .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

form .form__content .input input {
  height: 45px;
  outline: none;
  border-radius: 8px;
  border: 1px solid rgba(21, 21, 21, 0.4);
  padding: 16px;
}

input::placeholder {
  font-size: 16px;
  color: rgba(21, 21, 21, 0.2);
}

input:hover {
  cursor: pointer;
}

form .form__content button {
  width: 100%;
  height: 45px;
  background-color: #251181;
  color: #ffffff;
  border-radius: 8px;
  margin: 1.5rem 0 3rem 0;
  border: none;
  font-size: 18px;
}

form .form__content button:hover {
  border: 1px solid rgba(21, 21, 21, 0.4);
  cursor: pointer;
}

.footer {
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 960px) {
  .body__content {
    width: 100%;
  }

  nav {
    border-bottom: 1px solid #151515;
  }

  .body__content .first__section {
    width: 50%;
  }

  .body__content .second__section {
    width: 50%;
  }

  .body__content .first__section img {
    width: 350px;
    margin-top: 5rem;
  }

  .body__content .second__section form {
    width: 390px;
    padding: 1rem;
  }
}

@media (max-width: 762px) {
  .body__content .first__section{
    display: none;
  }

  .body__content .second__section{
    width: 80%;
    margin: auto;
  }

  .body__content .second__section form{
    width: 100%;
  }
}

@media (max-width: 650px) {
  nav .logo a h2{
    font-size: 1.5rem;
    padding-left: 8px;
  }
  .body__content .second__section{
    width: 100%;
  }

  .body__content .second__section form{
    box-shadow: none;
  }

  form .form__content div.worried-face{
    display: block;
  }
}
