@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    max-width: 1440px;
    margin: auto;
}

header h1{
    margin: 0 20px;
}

hr{
    margin-bottom: 125px;
}

.wrapper{
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.container-1{
    box-sizing: border-box;
    background-color: #FFFFFF;
    height: 741px;
    width: 50%;
    border: 1px solid rgba(21, 21, 21, 0.04);
    border-radius: 8px;
    padding: 0 auto;
    /* margin: 0 auto; */
    margin-bottom: 40px;
    text-align: center;
}

.img-avatar{
    height: 564px;
    margin-top: 50px;
}

.container-2{
    box-sizing: border-box;
    background-color: #FFFFFF;
    height: 857px;
    width: 50%;
    border: 1px solid rgba(162, 163, 163, 0.5);
    border-radius: 8px;
    padding: 0;
    margin: 0 auto;
}

.text{
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    margin-left: 30px;
    margin-right: 50px;
}

.text-2{
    font-size: 18px;
    font-weight: 400;
    margin-left: 30px;
}
label{
    font-size: 20px;
    font-weight: 400;
}

.form-control{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 90px;
}

input {
    margin-top: 8px;
    /* margin-bottom: 30px; */
    border: 1px solid;
    width: 100%;
    /* display: block; */
    padding: 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
}

.eye{
    position: absolute;
    padding-top: 23px;
    margin-left: -40px;
}

#hide1{
    display: none;
}

.sign{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: 90px;
    font-weight: 300;
}

.sign a{
    /* text-decoration: none; */
    color: #000;
}
button {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-left: 30px;
    padding: 16px 25px;
    display: block;
    width: 30%;
}

.or{
    border: 1px solid rgba(162, 163, 163, 0.5);
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    padding: 15px;
}
.terms {
    margin: auto;
    margin-top: 70px;
    width: 35%;
}
.terms > p{
    text-align: center;
    font-size: 20px;
}

.google{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.google img{
    width: 28px;
    height: 28px;
}

.circle {
    border: 0.86px solid #000;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    height: 38px;
    width: 38px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

