@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: auto;
}

header img {
  margin: 20px 0 50px 35px;
}

main > img {
  display: none;
}

hr {
  display: none;
  margin-bottom: 60px;
}

.wrapper {
  display: flex;
  align-items: center;
  margin: auto;
  width: 90%;
  max-width: 100%;
}

.container-1 {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 50%;
  border-radius: 8px;
  padding: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.img-avatar {
  height: 544px;
  width: 606px;
  margin-top: 50px;
}

.container-2 {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 50%;
  border-radius: 8px;
  padding: 0;
  margin: 0 auto;
}

.text {
  color: #251181;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  margin-left: 30px;
  margin-right: 50px;
}

.text-2 {
  color: #f7b05e;
  font-size: 18px;
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 24px;
}

label {
  font-size: 20px;
  font-weight: 400;
}

.form-control {
  margin-bottom: 24px;
  margin-left: 30px;
  margin-right: 90px;
}

input {
  margin-top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
}

.eye {
  position: absolute;
  padding-top: 24px;
  margin-left: -40px;
}

#hide1 {
  display: none;
}

.sign {
  color: #f7b05e;
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  margin-right: 90px;
  font-weight: 300;
}

.sign a {
  color: #251181;
}

button {
  background-color: #251181;
  border-radius: 8px;
  border: 1px solid rgba(21, 21, 21, 0.4);
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-left: 30px;
  padding: 16px 25px;
  display: block;
  width: 163px;
}

.or {
  text-align: center;
  font-weight: 900;
  font-size: 24px;
}
.terms {
  margin: auto;
  margin-top: 88px;
  width: 500px;
}
.terms > p {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.terms a {
  text-decoration: none;
}

.google {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 34px;
}
.google img {
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 920px) {
  header {
    border: 0.91px solid #a6a8a8;
    border-top: none;
    height: 100px;
    margin-bottom: 145px;
  }

  header img {
    margin-left: 60px;
  }

  .img-avatar {
    height: 267.29px;
    width: 298px;
  }

  .text {
    font-size: 24px;
    font-weight: 600;
    margin-right: 20px;
  }

  .text-2,
  label,
  input {
    font-size: 16px;
  }

  .form-control {
    margin-right: 5px;
  }

  button {
    width: 119px;
  }

  .sign {
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 78px;
  }

  .google {
    color: #251181;
    font-weight: 400;
  }

  .terms {
    width: 500px;
  }

  footer {
    border: 0.91px solid #a6a8a8;
    height: 100px;
    margin-top: 55px;
  }
}

@media screen and (max-width: 650px) {
  header {
    border: none;
    margin-bottom: 34px;
  }

  header img {
    margin-left: 36px;
  }

  main > img {
    display: block;
    height: 48px;
    margin: auto;
    margin-bottom: 24px;
    width: 48px;
  }

  .wrapper {
    width: 100%;
  }

  .container-1 {
    display: none;
  }

  .container-2 {
    width: 100%;
  }

  .text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 20px;
    margin-right: 80px;
  }

  .text-2 {
    margin-left: 20px;
  }

  .form-control {
    margin-left: 20px;
    margin-right: 20px;
  }

  .sign {
    margin-right: 20px;
    margin-bottom: 28px;
  }

  .or {
    border: 1px solid #a6a8a8;
    border-radius: 8px;
    height: 60px;
    margin: 0 20px 0 20px;
    padding: 15px;
  }

  .google {
    margin-top: 31px;
  }

  .terms {
    margin-top: 37px;
    margin-bottom: 48px;
    width: 388px;
  }

  .terms > p {
    font-size: 12px;
    font-weight: 400;
  }

  footer {
    display: none;
  }
}
