{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<!-- BOOTSTRAP FORM -->

<div class="container d-flex flex-column justify-content-center mt-5" style="width: 40%;">
    <div class="col mt-5">
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <p>Don't have an account ? Create one <a href="/sign-up">Here</a></p>
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-lg" value="Login" style="margin: 15px;">                
            </div>    
        </form> 

    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}