
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static%}
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/brands.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />

  <link rel="stylesheet" href="{% static 'navbar_unauthenticated/style.css' %}">
  <link rel="stylesheet" href="{% static 'saved_favicons.css' %}">
</head>
<body>



    <header>
        <div class="top-container">
          <nav class="header_ma">
            <div class="navbar_ma">
              <div class="logo">
                <a href="#">
                  <img
                    src="{% static 'navbar_unauthenticated/images/Group 100.png' %}"
                    class="desktop-logo"
                    alt="logo"
                  />
                </a>
                <img
                  src="{% static 'navbar_unauthenticated/images/Group 101.png' %}"
                  class="mobile-logo"
                  alt="logo"
                />
                <h2>Zuricon<span>Gen</span></h2>
              </div>
  
              <div class="navlinks">
                <ul>
                  <li>
                    <a
                      class="nav-link"
                      href="../Converter_page_by_ChrisMike/converter.html"
                      >Converter</a
                    >
                  </li>
                  <li>
                    <a class="nav-link" href="../GeneratorPage/index.html"
                      >Generator</a
                    >
                  </li>
                  <li><a class="nav-link" href="#">Texticon</a></li>
                  <li>
                    <a class="nav-link" href="../TutorialPage/tutorial.html"
                      >Tutorial</a
                    >
                  </li>
                </ul>
              </div>
  
              <div class="auth__menu">
                <div class="registration">
                  <a href="../SigninPage/signin.html" class="btn">Log in</a>
                  <a href="../SignupPage/signup.html" class="btn">Sign Up</a>
                </div>
  
                <div class="menu-icon"></div>
              </div>
            </div>
          </nav>
  
          <!-----------------Mobile & Tablet Menu ------------------>
          <div class="mobile-menu" id="menu">
            <ul>
              <li>
                <a
                  class="mobile-nav-link"
                  href="../Converter_page_by_ChrisMike/converter.html"
                  >Converter</a
                >
              </li>
              <li>
                <a class="mobile-nav-link" href="../GeneratorPage/index.html"
                  >Generator</a
                >
              </li>
              <li>
                <a class="mobile-nav-link" href="#">Texticons</a>
              </li>
              <li>
                <a class="mobile-nav-link" href="../TutorialPage/tutorial.html"
                  >Tutorial</a
                >
              </li>
              <li>
                <a class="mobile-nav-link" href="#">Saved Favicons</a>
              </li>
              <li>
                <a
                  class="mobile-nav-link auth__link"
                  href="../SigninPage/signin.html"
                  >Log In</a
                >
              </li>
              <li>
                <a
                  class="mobile-nav-link auth__link"
                  href="../SignupPage/signup.html"
                  >Sign Up</a
                >
              </li>
            </ul>
          </div>
        </div>
      </header>
    
<main>
<section class="main">
  <div class="panel">
    <div class="select "> <h4>Downloads</h4></div>
    <div class="select active2"><h4>Drafts</h4></div>
  </div>
  <div class="content drafts">
    <div class="search-bar">
      <i class="fas fa-search icon fa-xl"></i>
   <input type="text" class="search" name="search" placeholder="Search Drafts" size="80">
    </div>
    <p class="date">Generated Favicons</p>  
    {% for item in genfavicons %}
   
        
    <div class="favicon-control">
      <span class="image">    <img src="{{item.favicon.path.url}}" alt=""></span>
      <span class="title">
        <h2>{{ item.favicon.name }}.{{ item.favicon.img_type }}</h2>
        <a href="{{item.ziplink.path.url}}" download="{{item.ziplink.path.url}} " class="link">Download</a>
        
        
      </span>
    
     <a href=""> <div class="x" >
        <i class="fa-solid fa-xmark"></i>
      </div></a>
    </div>
    {%endfor%}

    <p class="date">Converted Favicons</p>
    {% for item in convfavicons %}
   
        
    <div class="favicon-control">
      <span class="image">    <img src="{{item.favicon.path.url}}" alt=""></span>
      <span class="title">
        <h2>{{ item.favicon.name }}.{{ item.favicon.img_type }}</h2>
        <a href="{{item.ziplink.path.url}}" download="{{item.ziplink.path.url}} " class="link">Download</a>
        
        
      </span>
    
     <a href=""> <div class="x" >
        <i class="fa-solid fa-xmark"></i>
      </div></a>
    </div>
    {%endfor%}


  
   
  </div>
  <div class="content download hide">
    <div class="search-bar">
      <i class="fas fa-search icon fa-xl"></i>
   <input type="text" class="search" name="search" placeholder="Search Downloads" size="80">
    </div>
    <p class="date">Today</p>  
   
  
   
  </div>

</section>


</main>



      <footer>
        <div class="footer__content">
          <section class="first__section">
            <h2>Zuricon<span>Gen</span></h2>
            <h3>About</h3>
            <p>
              We built ZuriconGen so as to make creating favicons an easy
              process. The texticons were created by our designers. If you like
              ZuriconGen or have a suggestion, feel free to contact us. Feedback
              is much appreciated.
            </p>
          </section>
  
          <section class="second__section">
            <div class="first">
              <h3>Built with</h3>
              <ul>
                <li>ZuriconGen.js</li>
                <li>Center.js</li>
                <li>Texticons</li>
              </ul>
            </div>
  
            <div class="second">
              <h3>Resources</h3>
              <ul>
                <li>
                  <a href="../Converter_page_by_ChrisMike/converter.html"
                    >Favicon Converter</a
                  >
                </li>
                <li>
                  <a href="../GeneratorPage/index.html">Favicon Generator</a>
                </li>
                <li><a href="#">Texticons</a></li>
              </ul>
            </div>
  
            <div class="third">
              <h3>Contact</h3>
              <a href="#">contact@zuri.team.com</a>
            </div>
          </section>
        </div>
  
        <hr />
  
        <div class="copyrights">
          <p>
            Copyright ZuriconGen 2022. All rights reserved.
            <a href="#" class="zuricongen_blue_color">Privacy and terms</a>
          </p>
  
          <div class="icons footer_icons">
            <a href="#">
              <img src="../LandingPage/Assets/Facebook.svg" alt="" />
            </a>
            <a href="#">
              <img src="../LandingPage/Assets/Twitter.svg" alt="" />
            </a>
            <a href="#">
              <img src="../LandingPage/Assets/LinkedIn_Circled.svg" alt="" />
            </a>
          </div>
  
          <div class="bottom__links">
            <a href="">Privacy Policy</a>
            <a href="">Terms of use</a>
            <a href="">Security</a>
            <a href="">Cookies</a>
          </div>
        </div>
      </footer>


      <script src="../navbar_unauthenticated/script.js"></script>
      <script>
let close = document.getElementsByClassName("x");
let select = document.getElementsByClassName("select");
let control = document.getElementsByClassName("favicon-control");
const search = document.getElementsByName("search")[0];
const folder = document.getElementsByClassName("folder");
for (let i = 0; i < close.length; i++) {
  close[i].addEventListener("click", function() {
    control[i].style.display = "none";
})
}

for (let i = 0; i < select.length; i++) {
  select[i].addEventListener("click", function() {
    select[0].classList.remove("active2");
    select[1].classList.remove("active2");
    select[i].classList.add("active2");
   console.log(i);
   switch (i){
    
    case 0:
      // search.placeholder ="Search Downloads";
      document.getElementsByClassName("download")[0].classList.remove("hide");
      document.getElementsByClassName("drafts")[0].classList.add("hide");
      break;
    case 1:
      // search.placeholder = "Search Drafts";
      document.getElementsByClassName("download")[0].classList.add("hide");
      document.getElementsByClassName("drafts")[0].classList.remove("hide");
      // folder.forEach(element => {
      //   element.style.display = "none";
      // })
      break;
   }
})
}


      </script>
   
</body>
</html>

    
    