
.gen_page_header_hw {
    background-color: #f5f5f5;
    width: 100%;
    min-height: 512px;
    position: relative;
    display: flex;
    /* justify-content: center;  */
    align-items: center;
    flex-direction: column;   
    margin-top: 128px;
}

.gen_page_subtitle1_hw {
    font-size: 32px;
    color: #251181;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header_img_container_hw {
    position: relative;
    width: 365px;
    height: 350px;
    overflow: hidden;
}
.header_img_container_hw img {
    object-fit: cover;
    height: 100%;
    width: auto;
}

@media (max-width:650px) {
    .gen_page_header_hw {
        min-height: unset;
        padding-bottom: 20px;
        margin-top: 70px;
    }
    .gen_page_subtitle1_hw {
        font-size: 18px;
    }
    .header_img_container_hw {
        width: 265px;
        height: 250px;
    }


}