*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --gray:  #A6A8A8;
    font-family: Lato;



}
.nav{
    height: 6.375rem;
    width: 100%;
    border: 1px solid var(--gray);
    padding-left: 3rem;
    display: flex;
    align-items: center;
    border-right: none;
}   
.title{
   
    font-weight: 700;
    font-size: 24px;
    vertical-align: middle;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    padding-bottom: 2.875rem;
}
.form{
    width: 34rem;
    height: 57rem;
    border: 1px solid var(--gray);
    border-radius: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2.5rem; 
    position: relative;
}
.form p:first-child{
    font-size: 1.5rem;
    line-height: 28.8px;
    font-weight: 700;
    text-align: center;

}
form{
    margin-top: 2.5rem;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
   
}
form input{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
label{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}
.check{
    display: flex;
    justify-content: space-between;
    height: 1rem;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}
#check{
    width: 1rem;
    display: inline-block;
    background-color: black;
    margin: 0;
}
.rem{
 width: 40%;
}
a{
    text-decoration: none;
    color: black;
}
#signin{
    height: 3.25rem;
    width: 9.875rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 40px;
    gap: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#google{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 236px;
    gap: 10px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background-color: white;
    height: 3.25rem;
    margin-top: 1rem;
}
#google img{
    width: 28px;
    height: 28px;
    
}

.signup{
    margin-top: 2.5rem;
    text-align: center;
    font-size: 16px;

}
.signup a{
    margin-left: 1rem;
}

.invalid{
    outline: none;
    border: 1px solid #FB1212;
}

form input:focus{
    outline: none;
    border: 1px solid black;
}
button:hover{
    border: 1px solid #271D88;
    filter: drop-shadow(0px 2px 4px #000000);
}
footer{
    border-top: 1px solid var(--gray);
    width: 100%;
    height: 6.375rem;
    margin-top: 4rem;
}

.eye{
    position: absolute;
    left: 468px;
    top: 270px;
    
}

#hide1{
    display: none;
}