
{% extends 'master/master_auth.html' %}
{% load static %}
{% block title %}Sent email{% endblock %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/forgotten_password/style.css' %}">
{% endblock %}


{% block content %}
<div class="body__content">
  <div class="second__section">
        <h1>Check your emails</h1>
        <br/>
        <h3>An email has been sent with instructions to reset your password</h3>
  </div>
</div>
{% endblock %}



{% block js_scripts %}
{% endblock %}
