
{% extends 'master/master_auth.html' %}
{% load static %}
{% block title %}Forgatten Password{% endblock %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/forgotten_password/style.css' %}">
{% endblock %}



{% block content %}
<!-- PasswordPage-section -->
<div class="body__content">
    <div class="first__section">
      <img
        src="{% static 'img/forgotten_password/Desktop forgot password.png' %}"
        alt=""
        class="worried-face"
      />
    </div>

    <div class="second__section">
      <form action="/mail" method="POST">
        {% csrf_token %}
        <div class="form__content">
          <div class="worried-face">
            <img src="{% static 'img/forgotten_password/Forgot password worried Face.svg' %}" alt="" />
          </div>
          <h1>Forgotten Password?</h1>
          <p class="top_p">
            Enter email address used creating your account to request
            password reset
          </p>

          <div class="input">
            <label for="email">Email Address:</label>
            {{form.email}}
            <!-- <input type="email" placeholder="olamidedavid@yahoo.com" /> -->
          </div>

          <button type="submit" >Reset password</button>

          <p class="bottom_p">
            If the message isn't there, keep in mind to check the spam
            folder
          </p>
        </div>
      </form>
    </div>
  </div>

  <p class="footer">
    Having trouble resetting your password? please let us know and we'll
    help
  </p>

{% endblock %}



{% block js_scripts %}
{% endblock %}
