
{% extends 'master/master_auth.html' %}
{% load static %}
{% block title %}Password set{% endblock %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/forgotten_password/style.css' %}">
{% endblock %}


{% block content %}
<div class="body__content">
  <div class="second__section">
        <h1>Your password has been set</h1>
        <br/>
        <a class="btn_hw btn_zuricongen_filled_hw" href="/sign-in" style="width:fit-content;">
          Log in
        </a>
  </div>
</div>
{% endblock %}



{% block js_scripts %}
{% endblock %}
