{% extends 'master/master_auth.html' %}
{% load static %}
{% block title %}New Password{% endblock %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/signin/signin.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
{% endblock %}



{% block content %}
<main>
    <div class="body">
        <div class="form height_fit_hw">
            <span class="bold_page_title_hw">Enter your new password</span>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="password-control">
                    <label for="password">New password</label>
                    {{form.new_password1}}                    
                    <span class="eye" onclick="myFunction1()">
                        <i id="hide11" class="fa-solid fa-eye"></i>
                        <i id="hide21" class="fa-solid fa-eye-slash"></i>
                    </span>
                </div>
                <div class="password-control">
                    <label for="password">Confirm new password</label>
                    {{form.new_password2}}                    
                    <span class="eye" onclick="myFunction2()">
                        <i id="hide12" class="fa-solid fa-eye"></i>
                        <i id="hide22" class="fa-solid fa-eye-slash"></i>
                    </span>
                </div>
            
            <button type="submit" id="signin">SAVE</button>
            
            </form>
            
        </div>
    </div>
</main>
{% endblock %}



{% block js_scripts %}
<script>
    function myFunction1() {
    var x1 = document.getElementById("password1");    
    var y1 = document.getElementById("hide11");
    var z1 = document.getElementById("hide21");

        if (x1.type === "password") {
            x1.type = "text";
            y1.style.display = "block";
            z1.style.display = "none";
        } else {
            x1.type = "password";
            y1.style.display = "none";
            z1.style.display = "block";
        }
    }
    function myFunction2() {

    var x2 = document.getElementById("password2");    
    var y2 = document.getElementById("hide12");
    var z2 = document.getElementById("hide22");

        if (x2.type === "password") {
            x2.type = "text";
            y2.style.display = "block";
            z2.style.display = "none";
        } else {
            x2.type = "password";
            y2.style.display = "none";
            z2.style.display = "block";
        }
    }
</script>
{% endblock %}
