
{% extends 'master/master.html' %}
{% load static %}
{% block title %}Generator{% endblock %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/css_hw/style_header.css' %}">   
<link rel="stylesheet" href="{% static 'css/css_hw/style_section01.css' %}">
<link rel="stylesheet" href="{% static 'css/css_hw/style_section_generator.css' %}">
<link rel="stylesheet" href="{% static 'css/css_hw/style_section_install.css' %}">
<link rel="stylesheet" href="{% static 'css/css_hw/style_hw.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/css_hw/coloris.min.css' %}">
{% endblock %}

{% block content %}

    <header class="gen_page_header_hw">
        <h1 class="gen_page_title1_hw posa_center_top_hw text_align_center">
            Generator
        </h1>
        <p class="gen_page_subtitle1_hw">
            You can style and generate your <span class="highlight_yellow_hw">favicons</span><br/> from only your texts
        </p>
        <div class="header_img_container_hw">
            <img src="{% static 'img/gen_header_img.svg' %}" alt="Generator Header Image">
        </div>
    </header>
    
    <section class="section01_gen_hw">
        <h1 class="gen_page_title1_hw mb_30_hw">Generate From Text</h1>
        <p class="plain_text_hw">
            For generating and downloading your .ICO files from texts you need to:<br/>
        </p>
        <ul class="gen_ul_list_hw plain_text_hw">
            <li>Generate your favicons by just typing in your text below.</li>
            <li>Experiment with different font properties and colors.</li>
            <li>Preview your favicons to your satisfaction before downloading.</li>
            <li>Download your favicons in a zip file or save to download later.</li>
        </ul>
        <div class="gen_examples_hw">
            <span class="zuricongen_blue_color">Examples :</span>
            <div class="gen_examples_boxes_container_hw">
                <div class="gen_examples_box_hw"></div>
                <div class="gen_examples_box_hw"></div>
                <div class="gen_examples_box_hw"></div>
            </div>
        </div>
    </section>

    <section class="section_generator_hw">
        <div class="sgenerator_inputs_container_hw">
            <div class="sgenerator_inputs_subcontainer_hw">

                <h2 class="gen_page_section_title_hw zuricongen_blue_color">Font</h2>

                <div class="sgenerator_input_container_hw">
                    <label for="fonts" class="fs18_bold zuricongen_blue_color">Font Family</label>
                    <select name="fonts" id="texticon_fonts_hw">
                        <option value="Lato" style="font-family: Lato">Lato</option>
                        <option value="Dancing Script" style="font-family: Dancing Script">Dancing Script</option>
                        <option value="Poppins" style="font-family: Poppins">Poppins</option>
                        <option value="Montserrat" style="font-family: Montserrat">Montserrat</option>
                        <option value="Lobster" style="font-family: Lobster">Lobster</option>
                        <option value="RobotoMono" style="font-family: Roboto Mono">Roboto Mono</option>
                        <option value="Josefin Sans" style="font-family: Josefin Sans">Josefin Sans</option>
                        <option value="Mouse Memoirs" style="font-family: Mouse Memoirs">Mouse Memoirs</option>
                        <option value="Pacifico" style="font-family: Pacifico">Pacifico</option>
                        <option value="Raleway" style="font-family: Raleway">Raleway</option>
                        <option value="Uchen" style="font-family: Uchen">Uchen</option>
                        <option value="Square Peg" style="font-family: Square Peg">Square Peg</option>
                        
                    </select>
                </div>

                <div class="sgenerator_input_container_hw range_slider_container_hw color_container_hw color_square_hw">
                    <label class="fs18_bold zuricongen_blue_color">Font Size</label>
                    <input type="range" min="12" max="64" value="14" class="slider" id="myRange">
                    <p><span id="range_output_hw"></span></p>
                </div>

                <div class="sgenerator_input_container_hw color_container_hw color_square_hw">
                    <label for="cars" class="fs18_bold zuricongen_blue_color">Font Color</label>
                    <input type="text" id="texticon_font_color_hw" class="coloris" value="#f7b05e">
                </div> 

            </div>

            <div class="sgenerator_inputs_subcontainer_hw">
                
                <h2 class="gen_page_section_title_hw zuricongen_blue_color">Input</h2>

                <div class="sgenerator_input_container_hw color_container_hw color_square_hw">
                    <label class="fs18_bold zuricongen_blue_color text_align_center">Text</label>
                    <input type="text" id="texticon_input_hw" value="ZURI" class="text_align_center" placeholder="Abc" maxlength="4">
                </div>
            </div>

            <div class="sgenerator_inputs_subcontainer_hw">
                
                <h2 class="gen_page_section_title_hw zuricongen_blue_color">Background</h2>

                <div class="sgenerator_input_container_hw">
                    <label for="texticon_bg_shape" class="fs18_bold zuricongen_blue_color text_align_right">Background Shape</label>
                    <select name="texticon_bg_shape" id="texticon_bg_shape_hw">
                        <option value="Rounded">Rounded</option>
                        <option value="Square">Square</option>
                        <option value="Circle">Circle</option>
                    </select>
                </div>
                
                <div class="sgenerator_input_container_hw color_container_hw color_square_hw">
                    <label for="cars" class="fs18_bold zuricongen_blue_color text_align_right">Background Color</label>
                    <input type="text" id="texticon_bg_color_hw" class="coloris" value="#251181">
                </div> 

                <div class="sgenerator_input_container_hw color_container_hw color_square_hw">
                    <label for="cars" class="fs18_bold zuricongen_blue_color text_align_right">Border Color</label>
                    <input type="text" id="texticon_border_color_hw" class="coloris" value="#ffffff00">
                </div> 
            </div>

            <div class="sgenerator_preview_container_hw">
                <div class="sgenerator_preview_container_top_hw">
                    <div class="sgenerator_input_container_hw color_container_hw color_square_hw">
                        <label class="fs18_bold zuricongen_blue_color text_align_center">Preview</label>
                        <div id="texticon_preview_hw"class="sgenerator_preview_box_hw">
                            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 64 64">                                
                                <defs>
                                    <style type="text/css">
                                        @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mouse+Memoirs&family=Pacifico&family=Poppins:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Square+Peg&family=Uchen&display=swap");
                                    </style>
                                </defs>
                                <rect x="0" y="0" width="64" height="64" rx="15" ry="15" fill="#251181" stroke="#ffffff00" stroke-width="2px"/>
                                <text x="50%" y="50%" font-size="50px" font-weight="bold" dominant-baseline="central" fill="#f7b05e" text-anchor="middle">Z</text>
                            </svg>
                        </div>
                    </div>
                </div>

                <div id="loader_hw" class="loader_hw displayNone"></div>

                <form id="sgenerator_download_save_buttons" method="post" action="{% url 'generator_page' %}" class="sgenerator_preview_container_bottom_hw">
                    {% csrf_token %}
                    <input type="hidden" id="sgenerator_svg_content" name="sgenerator_svg_content" value="2" />
                    <a href="#" id="download_generation_btn" class="btn_hw btn_zuricongen_filled_hw">
                        Generate
                    </a>
                    <a href="#" id="save_generation_btn" class="btn_hw btn_zuricongen_outlined_hw btn_text_img_hw">
                        <span>Save to drafts</span>
                        <img src="{% static 'img/chevron_right.svg' %}" width="12px" alt="">
                    </a>
                </form>
            </div>

        </div>
    </section>

    <section class="section_install_hw">
        <div class="section_install_container_hw">
            <h2 class="gen_page_section_title_hw zuricongen_blue_color mb_30_hw">Installation</h2>
            <p class="plain_text_hw mb_30_hw">
                First, use the download button to download the files listed below. Place the files in the root directory of your website.
                <br/>
            </p>
            <ul class="gen_ul_list_hw plain_text_hw">
                <li>android-chrome-192x192.png</li>
                <li>android-chrome-512x512.png</li>
                <li>apple-touch-icon.png</li>
                <li>favicon-16x16.png</li>
                <li>favicon-32x32.png</li>
                <li>favicon.ico</li>
                <li>sie.webmanifest</li>
            </ul>
            
            <div class="favicons_html_code_zone_hw plain_text_hw zuricongen_blue_color">
                &lt;link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"&gt; 
                <br/>
                &lt;link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"&gt; 
                <br/>
                &lt;link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"&gt; 
                <br/>
                &lt;link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"&gt;
            </div>
            <div class="btn_install_container_hw">
                <button class="btn_hw btn_zuricongen_filled_hw">
                    Copy
                </button>
            </div>
        </div>
    </section>

{% endblock %}

{% block js_scripts %}
<!-- SCRIPTS START -->
<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js_hw/range_slider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js_hw/generator_hw.js' %}"></script>
 
<script type="text/javascript" src="{% static 'js/js_hw/coloris.min.js' %}"></script>
<script type="text/javascript">
/** Default configuration **/

Coloris({
  el: '.coloris',
  swatches: [
    '#264653',
    '#2a9d8f',
    '#e9c46a',
    '#f4a261',
    '#e76f51',
    '#d62828',
    '#023e8a',
    '#0077b6',
    '#0096c7',
    '#00b4d8',
    '#48cae4'
  ]
});

/** Instances **/

Coloris.setInstance('.instance1', {
  themeMode: 'dark',
  formatToggle: true,
  swatches: [
    '#067bc2',
    '#84bcda',
    '#80e377',
    '#ecc30b',
    '#f37748',
    '#d56062'
  ]
});

Coloris.setInstance('.instance2', { theme: 'polaroid' });

Coloris.setInstance('.instance3', {
  theme: 'polaroid',
  swatchesOnly: true
});

</script>

<!-- SCRIPTS END -->
{% endblock %}
<!--     
</body>
</html> -->