
{% extends 'master/master.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/landing/landingPage.css' %}" />
{% endblock %}



{% block content %}
<main>
    <section class="header">
        <div class="header__content">
            <div class="header__content__text">
                <h2>In just one click, you can create all the favicons you need</h2>
                <p>
                Generate, convert and use Texticons to create as many favicons as
                you need in one run.
                </p>
            </div>

            <div class="header__content__image">
                <img src="{% static 'img/landing/banner.png' %}" alt="" />
            </div>
        </div>
    </section>
    <section class="section">
        <h1>Features</h1>
        <div class="section__content">
            <div class="section__img__container">
                <img src="{% static 'img/landing/amico.svg' %}" alt="" />
            </div>
        
            <div class="section__text">
                <h2>Converter</h2>
                <p>Generate favicons with images by uploading your image</p>
                <a href="/converter_page">Get Started</a>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="section__content">
        <div class="section__text">
            <h2>Generator</h2>
            <p>
            Generate favicons with text by selecting the letter, fonts and
            colours
            </p>
            <a href="/generator_page">Get Started</a>
        </div>
        <div class="section__img__container">
            <img src="{% static 'img/landing/section2.svg' %}" alt="" />
        </div>
        
        </div>
    </section>

    <section class="section">
        <div class="section__content">
        <div class="section__img__container">
            <img src="{% static 'img/landing/section3.svg' %}" alt="" />
        </div>        
        <div class="section__text">
            <h2>Texticons</h2>
            <p>Download favicons from a variety of texticon designs</p>
            <a href="/texticons">Get Started</a>
        </div>
        </div>
    </section>

    <section class="bottom_content_container">
        <div class="box">
        <div class="box_content">
            <img src="{% static 'img/landing/pana2.png' %}" alt="" />
        </div>
        <a href="/">Resources</a>
        </div>

        <div class="box">
        <div class="box_content">
            <img src="{% static 'img/landing/rafiki.png' %}" alt="" />
        </div>
        <a href="/tutorial">Tutorial</a>
        </div>

        <div class="box">
        <div class="box_content">
            <img src="{% static 'img/landing/pana.png' %}" alt="" />
        </div>
        <a href="/reviews">Reviews</a>
        </div>
    </section>
</main>
{% endblock %}



{% block js_scripts %}
{% endblock %}
