
{% extends 'master/master.html' %}
{% load static %}
{% block title %}Reviews{% endblock %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/reviews/Reviews.css' %}" />
{% endblock %}



{% block content %}

<div class="body__content">
    <div class="first__section">
        <h2>Trusted By Thousands Of Developers World Wide</h2>
        <p>
        ZuriconGen tastes for delivering utmost value, has inspired the team
        to create a favicon generating platform that would become a home for
        developers
        </p>

        <a href="../SignupPage/signup.html">Join Now</a>
    </div>

    <div class="second__section">
        <div class="box">
            <div class="box_content">
                <p>I know right</p>
            </div>
            <small>@Hermann</small>
        </div>

        <div class="box">
            <div class="box_content">
                <p>“Best favicon web app ever</p>
            </div>
            <small>@Great</small>
        </div>

        <div class="box">
            <div class="box_content">
                <p>The sizes fit perfectly</p>
            </div>
            <small>@Adebola</small>
        </div>

        <div class="box">
            <div class="box_content">
                <p>“With FaviconGen, I have all I need”</p>
            </div>
            <small>@Serah</small>
        </div>
    </div>
</div>
{% endblock %}



{% block js_scripts %}
{% endblock %}
