
{% extends 'master/master.html' %}
{% load static %}
{% block title %}Texticons{% endblock %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/texticons/Texticons.css' %}"/>
<link rel="stylesheet" href="{% static 'css/css_hw/style_section_install.css' %}">
<link rel="stylesheet" href="{% static 'css/css_hw/style_hw.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/brands.min.css"/>
{% endblock %}



{% block content %}

<!-- Texticons-header -->
<div class="Texticons-header">
        <h1>Texticons</h1>
        <p>
          Choose from the variety of pre-designed <br />
          <span>texticons</span>
        </p>
        <div class="Texticons-header_image">
          <img src="{% static 'img/landing/section3.svg' %}" alt="Texticons header image" />
        </div>
      </div>
      
      <!-- Texticons-section -->
      <div class="TexticonsContainer">
        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/A.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/B.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/C.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/D.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/E.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/F.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/G.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/H.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/I.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/J.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/K.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/L.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/M.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/N.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/O.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/P.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts ></a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/Q.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts ></a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/R.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts ></a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/S.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts ></a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/T.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts ></a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/U.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/V.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/W.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/X.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>

        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/Y.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>
        <div class="texticonsBox">
          <div class="image_box">
            <div><img src="{% static 'img/texticons/Z.png' %}" /></div>
          </div>
          <div class="links_container">
            <div class="button-download">
              <a href="#">Download</a>
            </div>
            <div class="button-drafts">
              <a href="#">Save to drafts</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Installation-section-->

      {% include 'components/installation.html' %}


      <!-- <section class="installation-section">
        <div class="installation-section1">
          <h2>Installation</h2>
          <p>
            First, use the download button to download the files listed below.
            Place the files in the root directory of your website.
            <br />
          </p>
          <ul class="installation-links">
            <li>android-chrome-192x192.png</li>
            <li>android-chrome-512x512.png</li>
            <li>apple-touch-icon.png</li>
            <li>favicon-16x16.png</li>
            <li>favicon-32x32.png</li>
            <li>favicon.ico</li>
            <li>site.webmanifest</li>
            <br />
            Next, copy the following link tags and paste them into the head of
            your HTML.
          </ul>

          <div class="favicons-codes">
            &lt;link rel="apple-touch-icon" sizes="180x180"
            href="/apple-touch-icon.png"&gt;
            <br />
            &lt;link rel="apple-touch-icon" sizes="180x180"
            href="/apple-touch-icon.png"&gt;
            <br />
            &lt;link rel="apple-touch-icon" sizes="180x180"
            href="/apple-touch-icon.png"&gt;
            <br />
            &lt;link rel="apple-touch-icon" sizes="180x180"
            href="/apple-touch-icon.png"&gt;
          </div>
          <div class="installation-button">
            <button class="installation-button1">Copy</button>
          </div>
        </div>
</section> -->
<!-- Footer-section -->
      

{% endblock %}



{% block js_scripts %}
{% endblock %}
