@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.landing__container {
  max-width: 1440px;
  margin: auto;
}

header {
  background-color: #f8f8f8;
  width: 100%;
  height: 95vh;
  max-height: 600px;
  border-bottom: 4px solid #251181;
}

nav {
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

nav h2 {
  font-size: 40px;
  color: #251181;
  margin-left: 1rem;
}

nav h2 span {
  color: #f7b05e;
}

nav .links a {
  font-size: 24px;
  font-weight: 400;
  color: #251181;
  margin: 0 1rem;
}

nav .authentication__links {
  display: flex;
  justify-content: space-between;
}

nav .authentication__links .login__btn {
  margin: 0 0.5rem;
  color: #251181;
  background-color: #ffffff;
  border: 1px solid #251181;
  border-radius: 8px;
  padding: 10px 55px;
  align-items: center;
  cursor: pointer;
}

nav .authentication__links .signin__btn {
  margin: 0 0.5rem;
  color: #ffffff;
  background-color: #251181;
  border-radius: 8px;
  padding: 10px 55px;
  align-items: center;
  cursor: pointer;
}

.header__content {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

.header__content .header__content__text {
  padding: 0.5rem 0 0.5rem 0.8rem;
  margin: 0 1rem;
}

.header__content .header__content__text h2 {
  color: #251181;
  font-size: 45px;
  margin-bottom: 2rem;
}

.header__content .header__content__text p {
  font-size: 24px;
  color: #151515;
  padding: 0 30px 0 0;
}

.header__content .header__content__image img {
  height: 450px;
}

main .section {
  max-height: 550px;
  align-items: center;
  background-color: #ffffff;
}

main .section .section__content {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 1.5rem;
  justify-content: space-between;
  max-width: 1150px;
}

main .section:nth-child(1) {
  max-height: 700px;
}

main .section:nth-child(1) h1 {
  color: #251181;
  text-align: center;
  font-size: 54px;
  margin: 2.5rem 0;
}

main .section:nth-child(2) {
  background-color: #f8f8f8;
  border: 1px solid #d9d9d9;
  height: fit-content;
  padding-bottom: 1rem;
}

main .section .section__content img {
  height: 400px;
  width: 510px;
}

main .section .section__text {
  line-height: 2;
  margin: auto;
}

main .section .section__text h2 {
  color: #1e1666;
  font-size: 45px;
}

main .section .section__text p {
  font-size: 24px;
  color: #151515;
  margin-bottom: 1rem;
  line-height: 1.5;
  width: 400px;
}

main .section .section__text a {
  background-color: #251181;
  color: #ffffff;
  padding: 8px 38px;
  border-radius: 8px;
}

.bottom_content_container {
  display: flex;
  margin: 10rem 0;
  justify-content: space-around;
  height: 500px;
  background-color: #f8f8f8;
  align-items: center;
}

.bottom_content_container .box {
  width: 380px;
  height: 370px;
}

.bottom_content_container .box .box_content {
  align-items: baseline;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.bottom_content_container .box .box_content img {
  width: 350px;
  height: 310px;
  align-items: center;
}

.bottom_content_container .box a {
  color: #251181;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #f8f8f8;
  line-height: 2;
  padding: 50px 80px;
  padding-bottom: 25px !important;
  height: fit-content !important;
}

footer .footer__content {
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  max-width: 1100px;
  max-width: unset !important;
  width: 100%;
  margin-top: 0 !important;
}

footer .footer__content .first__section {
  width: 350px;
}

footer .footer__content .first__section h2 {
  font-size: 40px;
  color: #251181;
}

footer .footer__content .first__section h2 span {
  color: #f7b05e;
}

footer .footer__content .first__section h3 {
  font-size: 24px;
  font-weight: 700;
  color: #1e1666;
}

footer .footer__content .first__section p {
  font-size: 18px !important;
  line-height: 1.5;
  color: #1e1666;
}

footer .footer__content .second__section {
  display: flex;
  justify-content: space-between;
  width: 550px;
  padding-top: 1rem;
  width: unset !important;
}

.footer__content .second__section > div {
  margin-left: 100px !important;
}
.footer__content .second__section > div h3 {
  margin-bottom: 15px;
}
.footer__content .second__section > div ul li {
  margin-bottom: 20px !important;
}
.footer__content .second__section > div ul li,
.footer__content .second__section > div ul li a {
  color: #251181;
  font-size: 20px;
}

footer .footer__content .second__section h3 {
  font-size: 24px;
  color: #251181;
}

footer .footer__content .second__section .third a {
  font-size: 18px;
  color: #251181;
}

footer li {
  font-size: 18px;
  color: #1e1666;
}

footer .copyrights {
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
}

footer p {
  color: #1c0d65;
}

.icons.footer_icons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.icons.footer_icons a {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin: 0 20px !important;
}

.icons.footer_icons a img {
  object-fit: cover;
  height: 100%;
  width: auto;
}

footer .copyrights .bottom__links {
  width: 60%;
  margin: auto;
  align-items: center;
}

footer .copyrights .bottom__links a {
  margin: 0 1.5rem;
  color: #251181;
}

@media (max-width: 920px) {
  header {
    width: 100%;
  }

  .header__content {
    flex-direction: column;
    text-align: center;
  }

  .header__content .header__content__text h2 {
    font-size: 26px;
  }

  .header__content .header__content__text p {
    font-size: 16px;
    margin-bottom: 0.8rem;
  }

  .header__content__image img {
    width: 85%;
    height: 380px !important;
    align-items: center;
  }

  main .section {
    margin-bottom: 6rem;
  }

  main .section:nth-child(1) h1 {
    margin: 0;
    text-align: center;
    margin: 2rem 0;
    font-size: 42px;
  }

  main .section .section__content {
    flex-direction: column;
  }

  main .section:nth-child(2) .section__content {
    flex-direction: column-reverse;
  }

  main .section .section__content img {
    width: 55%;
    height: 300px;
    margin: auto;
  }

  main .section .section__content .section__text {
    text-align: center;
    margin: auto;
  }

  main .section .section__text h2 {
    font-size: 36px;
  }

  main .section .section__content .section__text p {
    font-size: 18px;
    width: fit-content;
  }

  .bottom_content_container{
    flex-direction: column;
    height: fit-content;
    padding: 4rem 0;
  }

  .bottom_content_container .box{
    margin: 2rem 0;
  }

  .bottom_content_container .box a{
    margin-top: 1rem;
  }

  footer .copyrights .bottom__links {
    width: 100%;
  }

  .footer__content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer__content .second__section {
    margin-top: 30px;
  }
  .footer__content .second__section > div {
    margin-left: 0px !important;
  }
}

@media (max-width: 650px) {
  .header__content__image img{
    height: 310px !important;
  }

  .bottom_content_container .box{
    width: fit-content;
  }

  .bottom_content_container .box .box_content img{
    width: 90%;
    margin: 0;
  }
  main .section .section__content img {
    width: 97%;
    height: 300px;
  }

  footer {
    padding: 30px !important;
  }

  footer .footer__content .first__section h2 {
    font-size: 24px;
  }

  footer .footer__content .first__section h3,
  footer .footer__content .second__section h3 {
    font-size: 18px;
  }
  footer .footer__content .first__section p,
  footer li,
  footer .copyrights {
    font-size: 16px !important;
  }

  footer .footer__content .second__section {
    flex-direction: column;
    margin-top: 20px;
  }

  footer .footer__content .first__section {
    width: 100%;
  }
}
