.section_generator_hw {
    padding:0 50px;
    margin-bottom: 200px;
}
.sgenerator_titles_container_hw {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.sgenerator_titles_container_hw h2:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.sgenerator_inputs_container_hw {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sgenerator_inputs_subcontainer_hw {
    position: relative;
    width: 230px;
}

.sgenerator_inputs_subcontainer_hw h2{
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
}
.sgenerator_inputs_subcontainer_hw:nth-child(2) h2{
    text-align: center;
}
.sgenerator_inputs_subcontainer_hw:nth-child(3) h2{
    text-align: right;
}
.sgenerator_input_container_hw {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.sgenerator_input_container_hw label {
    margin-bottom: 10px;
    width: 100%;
}
.sgenerator_input_container_hw input,
.sgenerator_input_container_hw select {
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Lato;
    font-size: 16px;
    outline: none;
    width: 100%;
    height: 32px;
    /* padding: 0 10px; */
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.color_container_hw {
    flex-shrink: 0;
      width: 100%;
      margin-bottom: 30px;
}
.color_square_hw .clr-field button{
    width: 22px;
    height: 22px;
    left: 5px;
    right: auto;
    border-radius: 5px;
    
}
.color_square_hw .clr-field input {
    padding-left: 36px;
}


/* ************** SLIDER ***************** */

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px !important;
    border-radius: 5px;
    background: #251181;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #251181;
    border-radius: 50%;
    background: #f7b05e;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f7b05e;
    border: 1px solid #251181;
    cursor: pointer;
  }
/* ------------------------ */
.range_slider_container_hw p{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #251181;
    font-style: 16px;
    font-weight: bold;
    margin-top: 5px;
}
/* ****************** END SLIDER ************************ */

/* ---------------------------- */
.sgenerator_preview_container_hw {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.sgenerator_preview_container_top_hw > .sgenerator_input_container_hw {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sgenerator_preview_container_bottom_hw {
    display: flex;
    justify-content: space-between;
    width: 430px;
    margin-top: 30px;
}
.sgenerator_preview_box_hw {
    background: #f5f5f5;
    border-radius: 5px;
    width: 120px;
    height: 120px;
    margin-right: 7px;
    border: 1px solid #ccc;
}
/* ----------------------------- */


/* /////////////////////// RESPONSIVE //////////////////////// */

@media (max-width:875px) {
    .sgenerator_inputs_container_hw {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-bottom: 350px;
    }
    .sgenerator_inputs_subcontainer_hw {
        width: 350px;
        margin-bottom: 20px;
    }
    .sgenerator_inputs_subcontainer_hw:nth-child(1) {
        order: 1;
    }
    .sgenerator_inputs_subcontainer_hw:nth-child(2) {
        order: 0;
    }
    .sgenerator_inputs_subcontainer_hw:nth-child(3) {
        order: 2;
    }

    .sgenerator_inputs_subcontainer_hw h2{
        width: 100%;
        text-align: center !important;
        margin-bottom: 15px;
    }
    .sgenerator_input_container_hw label {
        font-size: 16px !important;
        text-align: left !important;
    }
    .sgenerator_preview_container_hw .sgenerator_input_container_hw label {        
        text-align: center !important;
    }

    .sgenerator_preview_container_hw {
        bottom: unset;
        top: 100%;
    }
}




@media (max-width:650px) {
    .sgenerator_inputs_container_hw {
        margin-bottom: 400px;
    }
    .sgenerator_inputs_subcontainer_hw {
        width: 100%;
    }
    
    .sgenerator_preview_container_bottom_hw {
        width: fit-content;
        flex-direction: column;
    }
    
}